{% extends "admin/base_site.html" %}
{% load i18n admin_static %}
{% load admin_urls %}

{% block extrahead %}{{ block.super }}
<script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
{% endblock %}

{% block bodyclass %}{{ block.super }} {{ opts.app_label }}-{{ opts.model_name }} change-form{% endblock %}

{% if not is_popup %}
    {% block bread_crumbs %}
        <ul class="breadcrumbs">
            <li><a href="{% url 'admin:index' %}"><i class="fa fa-dashboard"></i></a></li>
            <li><a href="{% url 'admin:app_list' app_label=opts.app_label %}"><i class="fa fa-dashboard"></i> {{ opts.app_config.verbose_name }}</a></li>
            <li><a href="{% url opts|admin_urlname:'changelist' %}"><i class="fa fa-dashboard"></i> {{ opts.verbose_name_plural|capfirst }}</a></li>
            <li><a href="{% url opts|admin_urlname:'change' original.pk|admin_urlquote %}"><i class="fa fa-dashboard"></i> {{ original|truncatewords:"18" }}</a></li>
        </ul>
    {% endblock %}
{% endif %}

{% block content %}
    <div id="content-main">
        <form action="{{ form_url }}" method="post" id="{{ opts.model_name }}_form">{% csrf_token %}{% block form_top %}{% endblock %}
            <div>
                {% if is_popup %}<input type="hidden" name="_popup" value="1">{% endif %}
                {% if form.errors %}
                    <p class="errornote">
                        {% if form.errors.items|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
                    </p>
                {% endif %}

                <p>{% blocktrans with username=original %}Enter a new password for the user <strong>{{ username }}</strong>.{% endblocktrans %}</p>

                <fieldset class="module aligned">
                    <div class="form-group">
                      {{ form.password1.errors }}
                      {{ form.password1.label_tag }} {{ form.password1 }}
                    </div>

                    <div class="form-group">
                      {{ form.password2.errors }}
                      {{ form.password2.label_tag }} {{ form.password2 }}
                      <p class="help-block">{% trans 'Enter the same password as above, for verification.' %}</p>
                    </div>
                </fieldset>

                <div class="submit-row">
                    <input type="submit" value="{% trans 'Change password' %}" class="default btn btn-primary">
                </div>

                <script type="text/javascript">document.getElementById("id_password1").focus();</script>
            </div>
        </form>
    </div>
{% endblock %}
