{% extends "admin/base_site.html" %}
{% load i18n admin_urls admin_static admin_list %}

{% block extrastyle %}
    {{ block.super }}
    {% if cl.formset or action_form %}
        <script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
    {% endif %}
    {{ media.css }}
    {% if not actions_on_top and not actions_on_bottom %}
        <style>
            #changelist table thead th:first-child {width: inherit}
        </style>
    {% endif %}
{% endblock %}

{% block extrahead %}
    {{ block.super }}
    {{ media.js }}
    {% if action_form %}
        {% if actions_on_top or actions_on_bottom %}
            <script type="text/javascript">
                (function($) {
                    $(document).ready(function($) {
                        $("tr input.action-select").actions();
                    });
                })(django.jQuery);
            </script>
        {% endif %}
    {% endif %}
{% endblock %}

{% block bodyclass %}{{ block.super }} app-{{ opts.app_label }} model-{{ opts.model_name }} change-list{% endblock %}

{% if not is_popup %}
    {% block bread_crumbs %}
        <ul class="breadcrumbs">
            <li><a href="{% url 'admin:index' %}"><i class="fa fa-dashboard"></i></a></li>
            <li><a href="{% url 'admin:app_list' app_label=cl.opts.app_label %}">{% firstof cl.opts.app_config.verbose_name app_label|capfirst|escape %}</a></li>
            <li><a href="#">{{ cl.opts.verbose_name_plural|capfirst|default:" " }}</a></li>
        </ul>
    {% endblock %}
{% endif %}

{% block coltype %}flex{% endblock %}

{% block content %}
    <div id="content-main">
        {% block object-tools %}
            <div class="row">
                {% if has_add_permission %}
                    {% block object_tools_items %}
                        <div class="col-xs-12 col-md-{% if cl.search_fields %}6{% else %}12{% endif %}">
                            <div class="box">
                                {% url cl.opts|admin_urlname:'add' as add_url %}
                                <a href="{% url cl.opts|admin_urlname:'add' %}{% if is_popup %}?_popup=1{% endif %}" class="btn btn-success btn-sm">
                                    <span class="fa fa-plus"></span>
                                    {% blocktrans with cl.opts.verbose_name as name %}Add {{ name }}{% endblocktrans %}
                                </a>
                            </div>
                        </div>
                    {% endblock %}
                {% endif %}

                {% if cl.search_fields %}
                    <div class="col-xs-12 col-md-{% if has_add_permission %}6{% else %}12{% endif %}">
                        {% block search %}{% search_form cl %}{% endblock %}
                    </div>
                {% endif %}
            </div>
        {% endblock %}

        <form id="changelist-form" action="" method="post"{% if cl.formset.is_multipart %} enctype="multipart/form-data"{% endif %} novalidate>{% csrf_token %}
            <div class="module{% if cl.has_filters %} filtered{% endif %}" id="changelist">
                <div class="row">
                    <div class="col-xs-{% if cl.has_filters or cl.date_hierarchy %}9{% else %}12{% endif %}">
                        {% if cl.formset %}
                            <div>{{ cl.formset.management_form }}</div>
                        {% endif %}

                        {% block result_list %}
                            <div class="box clearfix">
                                {% if cl.formset.errors %}
                                    <p class="errornote">
                                        {% if cl.formset.total_error_count == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
                                    </p>
                                    {{ cl.formset.non_form_errors }}
                                {% endif %}

                                {% if action_form and cl.full_result_count %}
                                    {% admin_actions %}
                                    <hr />
                                {% endif %}

                                {% result_list cl %}
                                
                                {% if cl.formset and cl.result_count %}
                                    <div class="text-right" style="margin-top: 15px;">
                                        <button type="submit" name="_save" class="btn btn-success"><span class="glyphicon glyphicon-floppy-save"></span> {% trans 'Save Changes' %}</button>
                                    </div>
                                {% endif %}
                            </div>
                        {% endblock %}

                        <div class="row">
                            <div class="col-xs-12">
                                <div class="box">
                                    {% block pagination %}{% pagination cl %}{% endblock %}
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-xs-3 {% if not cl.date_hierarchy and not cl.has_filters %}hidden{% endif %}">
                        {% block date_hierarchy %}
                            {% if cl.date_hierarchy %}
                                {% date_hierarchy cl %}
                            {% endif %}
                        {% endblock %}
                        {% block filters %}
                            {% if cl.has_filters %}
                                <div id="changelist-filter" class="box">
                                    <h2>{% trans 'Filter' %}</h2>
                                    {% for spec in cl.filter_specs %}{% admin_list_filter cl spec %}{% endfor %}
                                </div>
                            {% endif %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
