{% extends "admin/base_site.html" %}
{% load i18n admin_static admin_modify %}
{% load admin_urls %}

{% block extrahead %}{{ block.super }}
<script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
{{ media }}
{% endblock %}

{% block coltype %}{% if ordered_objects %}colMS{% else %}colM{% endif %}{% endblock %}

{% block bodyclass %}{{ opts.app_label }}-{{ opts.object_name.lower }} change-form{% endblock %}

{% if not is_popup %}
    {% block bread_crumbs %}
        <ul class="breadcrumbs">
            <li><a href="{% url 'admin:index' %}"><i class="fa fa-dashboard"></i></a></li>
            <li><a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ app_label|capfirst|escape }}</a></li>

            {% if has_change_permission %}
                <li><a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a></li>
            {% else %}
                <li><a href="#">{{ opts.verbose_name_plural|capfirst }}</a></li>
            {% endif %}

            {% if add %}
                <li><a href="#">{% trans 'Add' %} {{ opts.verbose_name }}</a></li>
            {% else %}
                <li><a href="#">{{ original|truncatewords:"18"|default:" " }}</a></li>
            {% endif %}
        </ul>
    {% endblock %}
{% endif %}

{% block content %}
    <div id="content-main">
        {% block object-tools %}
            {% if change %}{% if not is_popup %}
                <div class="box">
                    <div class="object-tools btn-group">
                        {% block object_tools_items %}
                            <a href="{% url opts|admin_urlname:'history' original.pk|admin_urlquote %}" class="historylink btn btn-primary">
                                <span class="glyphicon glyphicon-time"></span>
                                {% trans "History" %}
                            </a>
                            {% if has_absolute_url %}
                                <a href="{% url 'admin:view_on_site' content_type_id original.pk %}" class="viewsitelink btn btn-primary">
                                    <span class="glyphicon glyphicon-globe"></span>
                                    {% trans "View on site" %}
                                </a>
                            {% endif%}
                        {% endblock %}
                    </div>
                </div>
            {% endif %}{% endif %}
        {% endblock %}

        <form {% if has_file_field %}enctype="multipart/form-data" {% endif %}action="{{ form_url }}" method="post" id="{{ opts.module_name }}_form">{% csrf_token %}{% block form_top %}{% endblock %}
            <div>
                {% if is_popup %}<input type="hidden" name="_popup" value="1">{% endif %}
                {% if save_on_top %}{% block submit_buttons_top %}{% submit_row %}{% endblock %}{% endif %}
                {% if errors %}
                    <p class="errornote">
                        {% blocktrans count counter=errors|length %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}
                    </p>
                    {{ adminform.form.non_field_errors }}
                {% endif %}

                {% block field_sets %}
                    {% for fieldset in adminform %}
                        {% include "admin/includes/fieldset.html" %}
                    {% endfor %}
                {% endblock %}

                {% block after_field_sets %}{% endblock %}

                {% block inline_field_sets %}
                    {% for inline_admin_formset in inline_admin_formsets %}
                        {% include inline_admin_formset.opts.template %}
                    {% endfor %}
                {% endblock %}

                {% block after_related_objects %}{% endblock %}

                {% block submit_buttons_bottom %}{% submit_row %}{% endblock %}

                {% if adminform.first_field and add %}
                   <script type="text/javascript">document.getElementById("{{ adminform.first_field.id_for_label }}").focus();</script>
                {% endif %}

                {# JavaScript for prepopulated fields #}
                {% prepopulated_fields_js %}
            </div>
        </form>
    </div>
{% endblock %}
