{% extends "admin/base_site.html" %}
{% load i18n admin_static %}

{% block bodyclass %}login{% endblock %}

{% block nav-global %}{% endblock %}

{% block content_title %}{% endblock %}

{% block bread_crumbs %}{% endblock %}

{% block content %}
    <div id="content-main">
        <form action="{{ app_path }}" method="post" id="login-form">
            <div class="box">
                {% csrf_token %}
                <h1>Login</h1>

                {% if form.errors and not form.non_field_errors and not form.this_is_the_login_form.errors %}
                    <ul class="errorlist">
                        <li>
                            {% blocktrans count counter=form.errors.items|length %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}
                        </li>
                    </ul>
                {% endif %}

                {% if form.non_field_errors or form.this_is_the_login_form.errors %}
                    <ul class="errorlist">
                        {% for error in form.non_field_errors|add:form.this_is_the_login_form.errors %}
                            <li>
                                {{ error }}
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}

                <div class="form-group">
                    <label for="id_username" class="required">{{ form.username.label }}:</label>
                    <input id="id_username" maxlength="254" name="username" type="text" class="form-control">
                    {% if not form.this_is_the_login_form.errors %}
                        {{ form.username.errors }}
                    {% endif %}
                </div>

                <div class="form-group">
                    <label for="id_password" class="required">{% trans 'Password:' %}</label>
                    <input id="id_password" name="password" type="password" class="form-control">
                    {% if not form.this_is_the_login_form.errors %}
                        {{ form.password.errors }}
                    {% endif %}
                    <input type="hidden" name="this_is_the_login_form" value="1">
                    <input type="hidden" name="next" value="{{ next }}">
                </div>

                {% url 'admin_password_reset' as password_reset_url %}
                {% if password_reset_url %}
                    <div class="password-reset-link">
                        <a href="{{ password_reset_url }}">{% trans 'Forgotten your password or username?' %}</a>
                    </div>
                {% endif %}
                <div class="submit-row">
                    <label>&nbsp;</label><input type="submit" value="{% trans 'Log in' %}" class="btn btn-lg  btn-block btn-primary">
                </div>
            </div>
        </form>

        <script type="text/javascript">
            document.getElementById('id_username').focus()
        </script>
    </div>
{% endblock %}
