{% load i18n admin_static %}
{% if cl.search_fields %}
    <div class="box">
        <form class="form-inline" action="" method="get">
            <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-search"></i></div>
                <input type="text" name="{{ search_var }}" value="{{ cl.query }}" class="form-control input-sm" id="searchbar" />
            </div>
            <button type="submit" class="btn btn-success btn-sm">Search</button>

            {% if show_result_count %}
                <div>
                    <span class="small quiet">{% blocktrans count counter=cl.result_count %}{{ counter }} result{% plural %}{{ counter }} results{% endblocktrans %} (<a href="?{% if cl.is_popup %}_popup=1{% endif %}">{% blocktrans with full_result_count=cl.full_result_count %}{{ full_result_count }} total{% endblocktrans %}</a>)</span>
                </div>
            {% endif %}

            {% for pair in cl.params.items %}
                {% ifnotequal pair.0 search_var %}<input type="hidden" name="{{ pair.0 }}" value="{{ pair.1 }}">{% endifnotequal %}
            {% endfor %}
        </form>
    </div>
    <script type="text/javascript">document.getElementById("searchbar").focus();</script>
{% endif %}
