{% extends "admin/base_site.html" %}
{% load i18n admin_static %}

{% block userlinks %}
    {% url 'django-admindocs-docroot' as docsroot %}
    {% if docsroot %}
        <li><a href="{{ docsroot }}">{% trans 'Documentation' %}</a></li>
    {% endif %}
    <li><a>{% trans 'Change password' %}</a></li>
    <li><a href="{% url 'admin:logout' %}">{% trans 'Log out' %}</a></li>
{% endblock %}

{% block bread_crumbs %}
    <ul class="breadcrumbs">
        <li><a href="{% url 'admin:index' %}"><i class="fa fa-dashboard"></i></a></li>
        <li><a href="#"><i class="fa fa-lock"></i> {% trans 'Password change' %}</a></li>
    </ul>
{% endblock %}

{% block title %}{{ title }}{% endblock %}
{% block content_title %}<h1>{{ title }}</h1>{% endblock %}

{% block content %}
<form action="" method="post">{% csrf_token %}
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                {% if form.errors %}
                    <p class="errornote">
                    {% if form.errors.items|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
                    </p>
                {% endif %}

                <p>{% trans "Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly." %}</p>

                <fieldset class="module aligned wide">
                    <div class="form-group">
                        {{ form.old_password.errors }}
                        {{ form.old_password.label_tag }} {{ form.old_password }}
                    </div>

                    <div class="form-group">
                        {{ form.new_password1.errors }}
                        {{ form.new_password1.label_tag }} {{ form.new_password1 }}
                    </div>

                    <div class="form-group">
                    {{ form.new_password2.errors }}
                        {{ form.new_password2.label_tag }} {{ form.new_password2 }}
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <input type="submit" value="{% trans 'Change my password' %}" class="btn btn-success">
                <script type="text/javascript">document.getElementById("id_old_password").focus();</script>
            </div>
        </div>
    </div>
</form>
{% endblock %}
